// Global styling for this template
@mixin body-font {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
$theme-primary:   #20B2AA;
$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%);

@mixin transition-all() {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
@mixin heading-font {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    h2 {
        font-size: 50px;
    }
}

.logo {
    box-shadow: 5px 10px white;
}

.avatar-image {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    max-width: 100%; 
}

.image {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    max-width: 100%; 
    height: auto;
}

.imageWhite {
    box-shadow: white 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    max-width: 100%; 
    height: auto;
}

